In [1]:
l = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]
print(*l[3::3])
print(*l[::-1])
print(*l[::2])
print(*l[-20:-10])
print(*l[-5:-15:-2])

4 7 10 13 16 19
20 19 18 17 16 15 14 13 12 11 10 9 8 7 6 5 4 3 2 1
1 3 5 7 9 11 13 15 17 19
1 2 3 4 5 6 7 8 9 10
16 14 12 10 8

In [3]:
# Sets

A = {'Hello', 1,5,234,3.14,11,12,13,14}
B = {'bye','hi', 2,24,34,56}
print(type(A))
print(dir(B))

<class 'set'>
['__and__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__iand__', '__init__', '__init_subclass__', '__ior__', '__isub__', '__iter__', '__ixor__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__rand__', '__reduce__', '__reduce_ex__', '__repr__', '__ror__', '__rsub__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__xor__', 'add', 'clear', 'copy', 'difference', 'difference_update', 'discard', 'intersection', 'intersection_update', 'isdisjoint', 'issubset', 'issuperset', 'pop', 'remove', 'symmetric_difference', 'symmetric_difference_update', 'union', 'update']

In [5]:
A = {'Hello',1,5,234,3.14,11,12,13,14}
B = {'bye', 'hi', 2,24,34,56,11,12,13,14}
print("A intersection B = ",A.intersection(B))
print("A union B = ",A.union(B))
print("Difference of A wrt B = ",A.difference(B))

A intersection B =  {11, 12, 13, 14}
A union B =  {1, 2, 3.14, 34, 5, 'Hello', 234, 11, 12, 13, 14, 24, 56, 'hi', 'bye'}
Difference of A wrt B =  {1, 3.14, 5, 'Hello', 234}

In [15]:
Hindi = {'Keshav','pooja','palak','shaid'}
English = {'apurva','jayati','kriti','ashish'}
Common = {'devash','vaibhav','keshav','jayati'}
print("Only Hindi Newspaper readers : ",*Hindi.difference(Common))
print("Only English Newspaper readers : ",*English.difference(Common))
Total_readers = Hindi.union(English).union(Common)
print("Total readers are : ",*Total_readers)
print("Total are : ",len(Total_readers))

Only Hindi Newspaper readers :  palak shaid Keshav pooja
Only English Newspaper readers :  kriti apurva ashish
Total readers are :  palak pooja Keshav kriti keshav vaibhav devash ashish apurva jayati shaid
Total are :  11

In [ ]:
#Type Conversion

#interger fraction

In [17]:
print(int(2.45))
#print(int(3.0+5.7j))#complex change nahi hoga
print('12321321')#decimal no in int can be converted
#print(int('1.23')) only decimal no allowed in int

2
12321321

In [18]:
y = int('123734123',8)
print(y)

22001747

In [19]:
z = int('ABCDEF',16)
print(z)

11259375

In [20]:
x = bin(123)
print(x)

0b1111011

In [21]:
x = bin(25)
print(x)

0b11001

In [22]:
x = oct(56789)
print(x)

0o156725

In [23]:
x = hex(16)
print(x)

0x10

In [25]:
x = hex(12353421244)
print(x)

0x2e0523fbc

In [26]:
c = chr(90)
print(c)

Z

In [ ]:
#conversion to strings
x = str(28734)
y = str([34,34,34,343])
z = str({'one':1},'twp':2)
print(x,y,z)